body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-items: center;
  margin: auto;
  flex-flow: wrap;
}
.cards-wrapper {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: center;
}
.user-card {
  border: solid 2px black;
  padding: 10px;
  margin: 10px;
  width: 300px;
}